html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7fc;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  color: #1a73e8;
  font-size: 24px;
  text-decoration: none;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar-container {
  text-align: center; /* Căn giữa avatar trong container */
  margin-top: 20px;
}

.avatar-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto; /* Đưa ảnh vào giữa */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  border-radius: 8px;
}

.sidebar nav ul li a.active{
  background-color: #eaf0ff;
  color: #2b5bd7;
}

.sidebar nav ul li a:hover {
  background: #f0f0f0;
}

/* Main Content */
.content {
  margin-left: 300px;
  flex: 1;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  margin: 30px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.card h3 {
  margin-top: 0;
}

/* History Section */
.search {
  padding: 8px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.history-list {
  list-style: none;
  padding: 0;
}

.history-list li {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

button {
  background-color: #2b5bd7;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hide inactive content */

.username {
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
